<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.whatsapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity1"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InboxActivity"
            android:label="@string/title_activity_inbox" >
        </activity>
        <activity
            android:name=".TabandList"
            android:label="@string/title_activity_tabaand_list" >
        </activity>
        <activity
            android:name=".MessageActivity"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name=".ChatBox"
            android:label="@string/title_activity_chat_box" >
        </activity>
        <activity
            android:name=".ChatHistory"
            android:label="@string/title_activity_chat_history" >
        </activity>
        <activity
            android:name=".ChatTabActivity"
            android:label="@string/title_activity_chat_tab" >
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
    </application>

</manifest>
